body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
}
.container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h2 {
    text-align: center;
    color: #333;
}
form {
    display: flex;
    flex-direction: column;
}
label {
    margin-bottom: 5px;
    color: #555;
}
input[type="text"],
input[type="password"],
textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}
.form-group {
    margin-bottom: 15px;
}
.form-group-inline {
    display: grid;
    grid-template-columns: 150px 1fr;
    align-items: center;
    margin-bottom: 15px;
}
.form-group-inline label {
    margin: 0;
}
.radio-group,
.checkbox-group {
    display: flex;
    gap: 10px;
}
.error {
    color: red;
    margin-bottom: 15px;
}
.success {
    color: green;
    margin-bottom: 15px;
}
.submit-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #28a745;
    color: white;
    cursor: pointer;
    width: 100px;
    align-self: center;
}
.submit-btn:hover {
    background-color: #218838;
}